<div id="about"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>Ji-Wit小型資產管理系統:</b>
                    <br>
                    <a href="/user/old">
                        <h3><b>http://ji-wit.com/rfidapp/</b></h3>
                    </a>
                </h3>
            </div>
        </div>

        <hr size="10">
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>Ji-Wit物流溯源系統:</b> </h3>
            </div>

        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-6">
            <img src="/images/dev1.png" alt="#" />
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-6">
            <img src="/images/dev2.png" alt="#" />
        </div>
    </div>


    <hr>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>資產管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev3.png" alt="#" width="600" />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="titlepage">

                <iframe width="550" height="400" src="https://www.youtube.com/embed/HEW-BPuf0JQ">
                </iframe>


            </div>

        </div>

    </div>

    <hr>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>人員管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev4.png" alt="#" width="600" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <iframe width="550" height="400" src="https://www.youtube.com/embed/xiOn96LqG9M">
                </iframe>


            </div>

        </div>

    </div>
    <hr>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>布草管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev5.png" alt="#" width="600" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">

                <iframe width="550" height="400" src="https://www.youtube.com/embed/zxqzYNrZqso">
                </iframe>

            </div>

        </div>

    </div>

    <hr>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>文件管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev6.jpeg" alt="#" width="600" style="margin-bottom: 10%;" />
        </div>
    </div>

    <hr>


    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>RFID醫用試管管理:</b> </h3>
            </div>

        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: -39%;">

        <div class="col-md-6">
            <img src="/images/dev7.jpg" alt="#" width="500" style="height: 50%;" />
        </div>

        <div class="col-md-6">
            <img src="/images/dev8.jpg" alt="#" width="500" style="height: 50%;" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">

                <iframe width="550" height="400" src="https://www.youtube.com/embed/TFk7rLWE6cs">
                </iframe>

            </div>

        </div>

    </div>

    <hr>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>動物毛皮RFID溯源系統:</b> </h3>
            </div>

        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 5%;">

        <div class="col-md-6">
            <img src="/images/dev9.png" alt="#" width="500" />
        </div>

        <div class="col-md-6">
            <img src="/images/dev10.png" alt="#" width="500"  />
        </div>
    </div>

    <div class="row justify-content-center" >

        <div class="col-md-6">
            <img src="/images/dev11.png" alt="#" width="500"  />
        </div>

        <div class="col-md-6">
            <img src="/images/dev12.png" alt="#" width="500"  />
        </div>
    </div>

    <hr>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>RFID起重車輛防撞:</b> </h3>

                <h4>日期: 2020年9月
                    地點: 東涌迎禧路房屋署地盤
                    </h4>
            </div>

        </div>
    </div>

    <div class="row justify-content-center"  style="margin-bottom: 5%;">

        <div class="col-md-6">
            <img src="/images/dev13.jpg" alt="#" width="500" style="height: 90%;" />
        </div>

        <div class="col-md-6">
            <img src="/images/dev14.jpg" alt="#" width="500" style="height: 90%;"/>
        </div>
    </div>

    

    <div class="row justify-content-center" style="margin-bottom: 5%;">

        <div class="col-md-6">
            <img src="/images/dev15.jpg" alt="#" width="500" style="height: 110%;" />
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="titlepage">

                <iframe width="50%" height="400" src="https://www.youtube.com/embed/RFJxRyyQ5Lg">
                </iframe>

            </div>

        </div>

    </div>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">

                <h4>叉車防撞
                    </h4>
            </div>

        </div>
    </div>


    <div class="row justify-content-center" style="margin-bottom: -20%;">

        <div class="col-md-6">
            <img src="/images/dev16.png" alt="#" width="500" style="height: 70%;" />
        </div>

        <div class="col-md-6">
            <img src="/images/dev17.png" alt="#" width="500" style="height: 70%;" />
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="titlepage">

                <iframe width="50%" height="400" src="https://www.youtube.com/embed/zWcRh7hUhHs">
                </iframe>

            </div>

        </div>

    </div>

    <hr>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>聲磁防盜系統:</b> </h3>

                <h4>地點:澳門關閘口岸購物中心(澳人工人聯合總會球場旁)
                    <br>
                    用戶:口岸免稅店有限公司 
                    <br>
                    開業時間: 2021年1月中旬 
                    
                    
                    </h4>
            </div>

        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 5%;">

        <div class="col-md-6">
            <img src="/images/dev18.png" alt="#" width="500" style="height: 100%;"/>
        </div>

        <div class="col-md-6">
            <img src="/images/dev19.png" alt="#" width="500" style="height: 100%;" />
        </div>
    </div>

    <div class="row justify-content-center" style="margin-bottom: 5%;">

        <div class="col-md-6">
            <img src="/images/dev20.png" alt="#" width="500" style="height: 100%;" />
        </div>

        <div class="col-md-6">
            <img src="/images/dev21.png" alt="#" width="500" style="height: 100%;" />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="titlepage">

                <iframe width="50%" height="400" src="https://www.youtube.com/embed/bnCoCF05W1c">
                </iframe>

            </div>

        </div>

    </div>

</div>
</div>