<div id="about"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>Ji-Wit小型資產管理系統:</b>
                    <br>
                    <a href="/user/old">
                        <h3><b>http://ji-wit.com/rfidapp/</b></h3>
                    </a>
                </h3>
            </div>
        </div>

        <hr size="10">
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>Ji-Wit物流溯源系統:</b> </h3>
            </div>

        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-6">
            <img src="/images/dev1.png" alt="#" />
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-6">
            <img src="/images/dev2.png" alt="#" />
        </div>
    </div>


    <hr>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>資產管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev3.png" alt="#" width="500" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <a href="https://www.youtube.com/watch?v=HEW-BPuf0JQ">
                    <h3><b>https://www.youtube.com/watch?v=HEW-BPuf0JQ</b> </h3>
                </a>
            </div>

        </div>

    </div>

    <hr>
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>人員管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev4.png" alt="#" width="500" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <a href="https://youtu.be/xiOn96LqG9M">
                    <h3><b>https://youtu.be/xiOn96LqG9M

                        </b> </h3>
                </a>
            </div>

        </div>

    </div>
    <hr>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>布草管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev5.png" alt="#" width="500" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <a href="https://www.youtube.com/watch?v=zxqzYNrZqso">
                    <h3><b>https://www.youtube.com/watch?v=zxqzYNrZqso

                        </b> </h3>
                </a>
            </div>

        </div>

    </div>

    <hr>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="titlepage">
                <h3><b>文件管理系統:</b> </h3>
            </div>

        </div>

        <div class="col-md-6">
            <img src="/images/dev6.jpeg" alt="#" width="500" style="margin-bottom: 10%;"/>
        </div>
    </div>




</div>
</div>