<!-- body -->


<!-- banner -->
<section class="banner_main">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="text-bg">
               <h1>JI-WiT Limited</h1>
               <span>寶琳科創有限公司</span>
               <br><br>
               <b id="description">寶琳科創有限公司是一所座落於香港科技園的科創公司
                  我們擁有...
                  <br>
               </b>
               <a href="#" id="m1" onclick="more()">更多</a>
               <a href="#" id="m2" onclick="less()">減少</a>
            </div>
         </div>
         <div class="col-md-7" style="padding-left: 30px;">

            <img id="gun" class="img-responsive" src="images/goldEgg.jpg" />

         </div>
      </div>
   </div>
</section>
<!-- end banner -->
<!-- Hosting -->

<!-- end Hosting -->
<!-- Services  -->
<div id="service" class="Services">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>我們的業務應用--成功案例</h2>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h3 style="color: aliceblue;">公營機構</h3>
            </div>
         </div>
      </div>

      <div class="row justify-content-center">
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="Services-box">

               <a href="/user/p3">
                  <img src="/images/s3.jpeg" width="500" style="height: 200px;">
               </a>

               <h3>智慧樹木管理系統</h3>

            </div>

         </div>

         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="Services-box">

               <a href="/user/p4">
                  <img src="/images/s4.png" width="500" style="height: 200px;">
               </a>

               <h3>倉庫管理系統</h3>

            </div>

         </div>

      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h3 style="color: aliceblue;">私營機構</h3>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="Services-box">

               <a href="/user/p1">
                  <img src="/images/s1.jpeg" width="800" style="height: 200px;">
               </a>

               <h3>智慧地盤人員管理系統 </h3>

            </div>

         </div>

         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="Services-box">

               <a href="/user/p2">
                  <img src="/images/s2.jpg" width="500" style="height: 200px;">
               </a>

               <h3>RFID資產管理</h3>

            </div>

         </div>

         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="Services-box">

               <a href="/user/p5">
                  <img src="/images/s5.png" width="500" style="height: 200px;">
               </a>

               <h3>珠寶RFID大門警鐘項目</h3>

            </div>

         </div>

         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="Services-box">

               <a href="/user/p6">
                  <img src="/images/s6.png" width="500" style="height: 200px;">
               </a>

               <h3>酒店布草制服管理系統</h3>

            </div>

         </div>

         <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="Services-box">

               <a href="/user/p7">
                  <img src="/images/s7.jpeg" width="500" style="height: 200px;">
               </a>

               <h3>RFID智能圖書館</h3>

            </div>

         </div>

      </div>

   </div>
</div>

<div id="why" class="why">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>軟件系統開發</h2>

            </div>
         </div>
      </div>

      <div id="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3><b>Ji-Wit小型資產管理系統:</b>
                        <br>

                     </h3>
                     <a href="http://ji-wit.com/rfidapp/">
                        <h3><b>http://ji-wit.com/rfidapp/</b></h3>
                     </a>
                  </div>
               </div>

               <hr size="10">
            </div>

            <hr>
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3><b>Ji-Wit物流溯源系統:</b> </h3>
                  </div>

               </div>
            </div>

            <div class="row justify-content-center">

               <div class="col-md-6">
                  <img src="/images/dev1.png" alt="#" />
               </div>
            </div>
            <div class="row justify-content-center">

               <div class="col-md-6">
                  <img src="/images/dev2.png" alt="#" />
               </div>
            </div>


            <hr>
            <div class="row justify-content-center">

               <div class="col-md-12">
                  <div class="titlepage">
                     <h3><b>資產管理系統:</b> </h3>
                  </div>

               </div>

               <div class="col-md-6">
                  <img src="/images/dev3.png" alt="#" width="500" />
               </div>

               <div class="col-md-12">
                  <div class="titlepage">
                     <a href="https://www.youtube.com/watch?v=HEW-BPuf0JQ">
                        <h3><b>https://www.youtube.<br>com/watch?v=HEW-BPuf0JQ</b> </h3>
                     </a>
                  </div>

               </div>


            </div>

           
            <hr>
            <div class="row justify-content-center">

               <div class="col-md-12">
                  <div class="titlepage">
                     <h3><b>人員管理系統:</b> </h3>
                  </div>

               </div>

               <div class="col-md-6">
                  <img src="/images/dev4.png" alt="#" width="500" />
               </div>
            </div>

           

            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <a href="https://youtu.be/xiOn96LqG9M">
                        <h3><b>https://youtu.be<br>/xiOn96LqG9M

                           </b> </h3>
                     </a>
                  </div>

               </div>

            </div>
            <hr>

            <div class="row justify-content-center">

               <div class="col-md-12">
                  <div class="titlepage">
                     <h3><b>布草管理系統:</b> </h3>
                  </div>

               </div>

               <div class="col-md-6">
                  <img src="/images/dev5.png" alt="#" width="500" />
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <a href="https://www.youtube.com/watch?v=zxqzYNrZqso">
                        <h3><b>https://www.youtube<br>.com/watch?v=zxqzYNrZqso

                           </b> </h3>
                     </a>
                  </div>

               </div>

            </div>

            <hr>

            <div class="row justify-content-center">

               <div class="col-md-12">
                  <div class="titlepage">
                     <h3><b>文件管理系統:</b> </h3>
                  </div>

               </div>

               <div class="col-md-6">
                  <img src="/images/dev6.jpeg" alt="#" width="500" style="margin-bottom: 10%;" />
               </div>
            </div>




         </div>
      </div>
   </div>
</div>

<!-- end of dev -->

<!-- start of label -->

<div id="about" class="page1">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>RFID標籤 </h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label1.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt11"><b>HF/UHF RFID 標籤</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label2.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt12"><b>HF/UHF卡</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label3b.jpeg" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt13"><b>洗水RFID標籤</b></a>
               <p>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label4.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt14"><b>NFC/RFID手帶/匙扣</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label5.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt15"><b>LED亮燈標籤</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label6.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt16"><b>防撕易碎標籤</b></a>
               <p>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label7.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt17"><b>抗金屬標籤</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label8.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt18"><b>柔性抗高溫高壓標籤</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label9.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt19"><b>微型標籤</b></a>
               <p>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label10.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt110"><b>陶瓷卡標簽</b></a>
               <p>
            </div>
         </div>


      </div>
   </div>
</div>

<!-- end of label -->

<div id="about" class="page1">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>RFID硬體/智慧設備</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard1.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt21"><b>RFID手持機</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard2.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt22"><b>RFID 工業平板</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard3.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt23"><b>固定式讀寫器</b></a>
               <p>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard4.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt24"><b>一體式讀寫器</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard5.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt25"><b>RFID工具車/工具箱</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard6.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt26"><b>RFID智能櫃</b></a>
               <p>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard7.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="/user/pt27"><b>RFID通道</b></a>
               <p>
            </div>
         </div>
      </div>
   </div>
</div>




<!-- end Servicess -->
<!-- why -->
<div id="why" class="why">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>我們的優勢 </h2>

            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div id="box_ho" class="why-box">
               <i><img src="images/why2.png" alt="#" /></i>
               <h3>自主開發客製化應用程式</h3>
               <p><b>本公司自主開發的應用程式能針對不同客戶的需求，針對不同情況我們會提供適合的軟件配套，務求簡化RFID的操作流程，使客戶有流暢的使用體驗</b></p>
            </div>
            <!-- <a class="read_more bg" href="#">更多</a> -->
         </div>
         <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="why-box">
               <i><img src="images/why1.png" alt="#" /></i>
               <h3>一站式服務</h3>
               <p> <b>本公司的自研研究能力提供完整的識別技術服務方案。含現埸調研方案、選擇和安裝高效硬件、專用軟件、應用指導、測試和供電技術開發和售後服務等，得到客戶包括商業和公機構的高度認可</b></p>
            </div>
            <!-- <a class="read_more bg" href="#">更多</a> -->
         </div>
         <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="why-box">
               <i><img src="images/why3.png" alt="#" /></i>
               <h3>售後支援</h3>
               <p> </p>
            </div>
            <a class="read_more bg" href="#">更多</a>
         </div> -->
      </div>
   </div>
</div>
<!-- end why -->
<!-- contact -->




<div id="contact" class="contact">
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3 ">
            <form class="main_form" action="/customer/create" method="POST">
               <b class="form_name">留下你的聯絡方式</b>
               <div class="row">
                  <div class="col-sm-12">
                     <input class="contactus" placeholder="Name" type="text" name="name" required>
                  </div>
                  <div class="col-sm-12">
                     <input class="contactus" placeholder="Email" type="text" name="email" required>
                  </div>
                  <div class="col-sm-12">
                     <input class="contactus" placeholder="Phone" type="text" name="phone" required>
                  </div>
                  <div class="col-sm-12">
                     <textarea class="textarea" placeholder="Message" type="text" name="message" required></textarea>
                  </div>
                  <div class="col-sm-12">
                     <button class="send" type="submit">Send</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>






<!-- end contact -->
<!--  footer -->
<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <div class="cont">
                  <h3>馬上聯絡我們
                     <br><br>
                     電話： 36124982

                  </h3>

               </div>
            </div>
         </div>
      </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">

               </div>
            </div>
         </div>
      </div>
   </div>

</footer>



<!-- end footer -->

</body>

<script>
   var b2 = document.getElementById("m2");
   b2.style.display = "none";

   function more() {
      var des = document.getElementById("description")

      des.innerHTML = `寶琳科創有限公司是一所座落於香港科技園的科創公司
                     <br>
                     我們擁有
                     <br>
                     -資歷豐富的半導體技術 
                     <br>
                     -射頻識別(IoT/RFID) 應用方案開發技術 
                     <br>
                     <br>
                     我們致力服務客户
                     <br>
                     -將科硏和成果轉化量產，建立生產和產品控制系統，數據和工廠管理
                     <br>
                     -開發和交付物聯網射頻識別（IoT/RFID）應用技術、研究客制化RFID方案
                     <br><br>
                     射頻識別（RFID）技術廣泛使用於
                     <br>
                     -資產盤點
                     <br>
                     -貨物進出
                     <br>
                     -人員管理
                     <br>
                     -倉庫管理
                     <br>
                     -工具管理
                     <br>
                     -樹木管理 
                     <br>
                     -數據管理 
                     <br>
                     -文件管理
                     <br>
                     達致有效管理，防盜防偽防錯和節省成本 
                     <br><br>
                     本公司
                     <br>
                     -具有高素質的自主開發能力
                     <br>
                     -提供射頻識別技術服務方案 
                     <br><br>
                     本公司的一站式方案含有
                     <br>
                     -現埸調研
                     <br>
                     -選擇, 設計和安裝高效硬件
                     <br>
                     -開發客制化專用軟件
                     <br>
                     -現埸測試應用指導 
                     <br>
                     -克服技術難題
                     <br>
                     -提供售後服務
                     <br>`

      var b1 = document.getElementById("m1");
      b1.style.display = "none";

      var b2 = document.getElementById("m2");
      b2.style.display = "";


   }

   function less() {
      var des = document.getElementById("description")
      des.innerHTML = "寶琳科創有限公司是一所座落於香港科技園的科創公司我們擁有...<br>"

      var b1 = document.getElementById("m1");
      b1.style.display = "";

      var b2 = document.getElementById("m2");
      b2.style.display = "none";


   }
</script>