<div id="about" class="page1">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>智慧地盤人員管理系統 </h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="page1_content">
               <figure><img src="/images/p1img1.png" alt="#" width="800" /></figure>
               <br>
               <p>
                  <b>■香港第一個RFID地盤升降機槽人員管理系統</b>
                  <br><br>
                  <b>■通過顯示屏及電腦實時掌握進入升降機槽工作的工人數量</b>
                  <br><br>
                  <b>■對所有人員出入升降機槽進行記錄</b>
                  <br><br>
                  <b>■非授權人員進入會觸發警報示警 </b>
               <p>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="about" class="page2">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="name">
               <h2>項目優勢</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="page1_content">
               <figure><img src="/images/p1img2.png" alt="#" width="800" /></figure>
               <br>
               <p>
                  <b>-有效監控</b>
                  <br>
                  能利用 RFID 技術監控地盤工人出入升降機槽
                  不經人手有效記錄地盤工人進出升降機槽
                  協助安全主任管理, 提高管理效率
                  <br><br>
                  <b>-提升地盤工人安全意識</b>
                  <br>
                  工人毋須適應任何新系統裝置
                  通過智能裝置，有效地預防意外發生
                  提高工人安全意識
                  增加工人工作時的安全感
                  <br><br>
                  <b>-提升建造業專業形象</b>
                  <br>
                  引入創新科技提升建造業專業形象
                  改善年青人對建造業觀感，吸引年青人入行
               <p>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="about" class="page1">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>成效 </h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <!-- <div class="page1_content">
               <figure><img src="/images/p1img3.png" alt="#" width="500" style="background-color: brown;"/></figure> -->
            <figure><img src="/images/p1img4.png" alt="#" width="800" /></figure>
            <br>
            <p style="margin-left: 45px;">
               <b>-安裝至今約半年時間，裝置安裝地盤沒有發生任何有關升降機槽的工業意外記錄</b>
               <br><br>
               <b>-管理層可透過電腦系統達至實時管理</b>
               <br><br>
               <b>-透過大堂 LED 顯示屏，提高現場管理透明度</b>
               <br><br>
               <b>-地盤工作人員安全意識增加</b>
            <p>
         </div>
      </div>
   </div>
</div>
