<div id="about" class="page1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>聲磁防盜系統</h2>
                    <h4>地點:澳門關閘口岸購物中心(澳人工人聯合總會球場旁)
                        <br>
                        用戶:口岸免稅店有限公司 
                        <br>
                        開業時間: 2021年1月中旬 
                        
                        
                        </h4>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev18.png" alt="#" width="600" />
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev19.png" alt="#" width="600"  />
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev20.png" alt="#" width="600"  />
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev21.png" alt="#" width="600"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                    <iframe width="600" height="400" src="https://www.youtube.com/embed/bnCoCF05W1c">
                    </iframe>
                </div>
            </div>
        </div>



    </div>
</div>


<!-- <div class="row justify-content-center">
       
    <div class="col-md-12">
        <div class="titlepage">
            <h3><b>聲磁防盜系統:</b> </h3>

            <h4>地點:澳門關閘口岸購物中心(澳人工人聯合總會球場旁)
                <br>
                用戶:口岸免稅店有限公司 
                <br>
                開業時間: 2021年1月中旬 
                
                
                </h4>
        </div>

    </div>
</div>

<div class="row justify-content-center" style="margin-bottom: 5%;">

    <div class="col-md-6">
        <img src="/images/dev18.png" alt="#" width="500" style="height: 100%;"/>
    </div>

    <div class="col-md-6">
        <img src="/images/dev19.png" alt="#" width="500" style="height: 100%;" />
    </div>
</div>

<div class="row justify-content-center" style="margin-bottom: 5%;">

    <div class="col-md-6">
        <img src="/images/dev20.png" alt="#" width="500" style="height: 100%;" />
    </div>

    <div class="col-md-6">
        <img src="/images/dev21.png" alt="#" width="500" style="height: 100%;" />
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="titlepage">

            <iframe width="50%" height="400" src="https://www.youtube.com/embed/bnCoCF05W1c">
            </iframe>

        </div>

    </div>

</div> -->
