<div id="about" class="page1">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID資產管理 </h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/p2img1.jpg" alt="#" width="800" /></figure>
                <br>
                <p>
                   <b>■資產日常操作管理功能</b>
                   <br>
                   主要包括固定資產的新增、修改、退出、轉移、刪除、借用、歸還、維修及計算折舊率等日常工作
                   <br>
                   <b>■盤點功能</b>
                   <br>
                   按照條碼閱讀器中的資料與資料庫中的資料進行核對，並對正常或異常的資料做出處理，得出固定資產的實際情況，
                   並可按單位、部門生成盤盈明細表、盤虧明細表、盤虧明細附表、盤點匯總表、盤點匯總附表
                   <br>
                   <b>■資產折舊</b>
                   <br>
                   包括計提固定資產月折舊、列印月折舊報表、對折舊資訊進行備份，恢復折舊工作、折舊手工錄入、折舊調整
                   <br>
                   <b>■固定資產月報 </b>
                   <br>
                   根據單位、部門、時間等條件查詢分類統計月（年）報、本月增加固定資產月報、本月減少固定資產月報、固定資產折舊月報（年報）、並提供列印功能
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 