<div id="about" class="page1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>智慧樹木管理系統</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page1_content">
                    <figure><img src="/images/p3img1.png" alt="#" width="800" /></figure>
                    <br>
                    <p>
                        <b>-以RFID技術管理樹木</b>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="page2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="name">
                    <h2>服務單位</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p3img2.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="text-align: center;">
                        <b>交通基建管理合約有限公司</b>
                    <p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p3img3.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="text-align: center;">
                        <b>路政署</b>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="page1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>項目地點 </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p3img4.png" alt="#" width="500" /></figure>
                    <br>
                    <p style="text-align: center;">
                        <b>青沙管制站</b>
                    <p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p3img5.png" alt="#" width="600" /></figure>
                    <br>
                    <p style="text-align: center;">
                        <b>青馬管制站</b>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="page2">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="name">
                <h2>安裝程序</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure ><img src="/images/p3img6.png" alt="#" /></figure>
                <br>
                
             </div>
          </div>
          
       </div>
    </div>
 </div>
 