<div id="about" class="page1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>公營機構RFID倉庫管理系統</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page1_content">
                    <figure><img src="/images/p4img1.png" alt="#" width="800" /></figure>
                    <br>
                    <p>
                        <b>本公司實踐成功的案例--某公營機構的皮鞋生產應用RFID技術前後
                            <br>
                            應用前-生產的皮鞋手動漏盤點，動作動作錯位，左右鞋錯置，鞋號錯調
                            <br>
                            應用後 - 以上問題得到解決
                            <br>
                            寶琳科創提供現場規劃，選擇合適的硬件標籤，開發軟件，安裝，售後資料上傳，數據對比和存檔
                        </b>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="page2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="name">
                    <h2>安裝程序</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="page1_content">
                    <figure><img src="/images/p4img2.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="margin-left: 50px;">
                        <b>包裝入袋</b>
                    <p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="page1_content">
                    <figure><img src="/images/p4img3.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="margin-left: 30px;">
                        <b>鞋子整理入鞋盒，一盒兩隻</b>
                    <p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="page1_content">
                    <figure><img src="/images/p4img4.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="margin-left: 30px;">
                        <b>批量掃描鞋盒，一次獲取標籤數量</b>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="page1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>應用現場手持機APP界面展示</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="page1_content">
                    <figure><img src="/images/p4img5.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="margin-left: 30px;">
                        <b>賬號登錄界面</b>
                    <p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="page1_content">
                    <figure><img src="/images/p4img6.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="margin-left: 30px;">
                        <b>數據采集獲取界面</b>
                    <p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="page1_content">
                    <figure><img src="/images/p4img7.png" alt="#" width="300" /></figure>
                    <br>
                    <p style="margin-left: 30px;">
                        <b>數據統計合集</b>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>


 