<div id="about" class="page1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>RFID智能圖書館 </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page1_content">
                    <figure><img src="/images/s7.jpeg" alt="#" height="200px" width="300px" /></figure>
                    <br>
                    <p>
                        <b>隨着RFID技術發展日益成熟，RFID已被廣泛應用於多個領域，圖書館就是其中一個能活用RFID優勢去優化及改善服務的一個範疇。
                            <br><br>
                            圖書館藏書量多，人手盤點、查找功夫繁複，費時極長，惟利用RFID，就能夠實現短時間盤點、簡化借還程序，不止方便讀者，更減輕圖書館理員的負擔，達成雙贏之效。</b>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="page2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="name">
                    <h2>產品介紹</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p7img2.png" alt="#" width="800" /></figure>

                </div>
            </div>

            <div class="col-md-6">
                <p>
                    <br><br>
                    <b>館員工作站</b>
                    <br>
                    館員工作站是一款一體式的RFID工作平台，可滿足借還圖書的同時，亦能對標籤進行編碼等加工程序。
                    <br><br>
                    -型號 : NST – LBW01
                    <br>
                    -工作頻率 : 920 – 925 MHz
                    <br>
                    -尺吋 : 580 x 320 x 488.5 mm
                    <br>
                    -材質 : 金屬板 + 鋼化玻璃
                    <br>
                    -顯示屏呎吋 : 22吋
                    <br>
                    -標籤識別速度 : >100次/秒
                <p>

            </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p7img3.png" alt="#" width="800" /></figure>

                </div>
            </div>

            <div class="col-md-6">
                <p>
                    <br><br>
                    <b>自動借還圖書機</b>
                    <br>
                    可24小時運作，提供中英文介面切換，一次可讀取4-5本書
                    <br><br>
                    -型號 : NST – LBM01
                    <br>
                    -工作頻率 : 920 – 925 MHz
                    <br>
                    -尺吋 : 550 x 470 x 1625 mm
                    <br>
                    -顯示屏尺吋 : 17吋觸控屏幕
                    <br>
                    -讀取半徑 : 0 – 10cm
                <p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p7img4.png" alt="#" width="800" /></figure>

                </div>
            </div>

            <div class="col-md-6">
                <p>
                    <br><br>
                    <b>手持終端機</b>
                    <br>
                    工業級智能手提終端機，融合了強大的超高頻（UHF）讀寫功能。
                    <br><br>
                    -型號：NST – LBG3000
                    <br>
                    -工作頻率 : 920-925MHz
                    <br>
                    -尺吋 : 197 x 87 x 151mm
                    <br>
                    -顯示屏尺吋 : 3.5吋
                    <br>
                    -防護等級 : IP65
                    <br>
                    -電池用量 : 鋰電池 3500mAh、手柄含鋰電池 5200mAh

                <p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p7img5.png" alt="#" width="800" /></figure>

                </div>
            </div>

            <div class="col-md-6">
                <p>
                    <br><br>
                    <b>智能門閘</b>
                    <br>
                    能一次讀取多個經過標籤，在讀到未完成借還手續的標籤會發出聲光警報。
                    <br><br>
                    -型號：NST -LB500
                    <br>
                    -工作頻率 : 920-925MHz
                    <br>
                    -尺吋 : 1495 x 370 x 60mm
                    <br>
                    -單通道寬度 : 800 – 1800mm
                    <br>
                    -雙通道寬度 : 2000mm

                <p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="page1_content">
                    <figure><img src="/images/p7img6.png" alt="#" width="800" /></figure>

                </div>
            </div>

            <div class="col-md-6">
                <p>
                    <br><br>
                    <b>標籤</b>
                    <br>
                    <br><br>
                    -型號 : NST – LB120
                    <br>
                    -尺吋 : 120 x 3mm
                    <br>
                    -晶片 : Alien Higgs 3
                    <br>
                    -EPC Memory : 96 bits

                <p>

            </div>
        </div>
    </div>
</div>