<div id="about" class="page1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>動物毛皮RFID溯源系統</h2>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev9.png" alt="#" width="600" />
                </div>
            </div>

        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev10.png" alt="#" width="600"  />
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev11.png" alt="#" width="600"  />
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 8%;">
            <div class="col-md-12">
                <div style="text-align: center;height: 100%;">
                   <img src="/images/dev12.png" alt="#" width="600"  />
                </div>
            </div>
        </div>


    </div>
</div>









<!-- <div class="row justify-content-center">
       
    <div class="col-md-12">
        <div class="titlepage">
            <h3><b>動物毛皮RFID溯源系統:</b> </h3>
        </div>

    </div>
</div>



<div class="row justify-content-center" style="margin-bottom: 5%;">

    <div class="col-md-6">
        <img src="/images/dev9.png" alt="#" width="500" />
    </div>

    <div class="col-md-6">
        <img src="/images/dev10.png" alt="#" width="500"  />
    </div>
</div>

<div class="row justify-content-center" >

    <div class="col-md-6">
        <img src="/images/dev11.png" alt="#" width="500"  />
    </div>

    <div class="col-md-6">
        <img src="/images/dev12.png" alt="#" width="500"  />
    </div>
</div>

<hr> -->
