<div id="about" class="page1">
    <div class="container" >
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID標籤 </h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="page1_content">
                <figure><img src="/images/label1.png" alt="#" style="height: 220px;"/></figure>
                <br>
                <p style="text-align: center;">
                   <a href="pt11"><b>HF/UHF RFID 標籤</b></a>
                <p>
             </div>
          </div>

          <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label2.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="pt12"><b>HF/UHF卡</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/label3.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="pt13"><b>洗水RFID標籤</b></a>
               <p>
            </div>
         </div>
       </div>

       <div class="row">
        <div class="col-md-4">
           <div class="page1_content">
              <figure><img src="/images/label4.png" alt="#" style="height: 220px;"/></figure>
              <br>
              <p style="text-align: center;">
               <a href="pt14"><b>NFC/RFID手帶/匙扣</b></a>
              <p>
           </div>
        </div>

        <div class="col-md-4">
          <div class="page1_content">
             <figure><img src="/images/label5.png" alt="#" style="height: 220px;" /></figure>
             <br>
             <p style="text-align: center;">
               <a href="pt15"><b>LED亮燈標籤</b></a>
             <p>
          </div>
       </div>

       <div class="col-md-4">
          <div class="page1_content">
             <figure><img src="/images/label6.png" alt="#" style="height: 220px;"/></figure>
             <br>
             <p style="text-align: center;">
               <a href="pt16"><b>防撕易碎標籤</b></a>
             <p>
          </div>
       </div>
     </div>

     <div class="row">
        <div class="col-md-4">
           <div class="page1_content">
              <figure><img src="/images/label7.png" alt="#" style="height: 220px;" /></figure>
              <br>
              <p style="text-align: center;">
               <a href="pt17"><b>抗金屬標籤</b></a>
              <p>
           </div>
        </div>

        <div class="col-md-4">
          <div class="page1_content">
             <figure><img src="/images/label8.png" alt="#" style="height: 220px;" /></figure>
             <br>
             <p style="text-align: center;">
               <a href="pt18"><b>柔性抗高溫高壓標籤</b></a>
             <p>
          </div>
       </div>

       <div class="col-md-4">
          <div class="page1_content">
             <figure><img src="/images/label9.png" alt="#" style="height: 220px;" /></figure>
             <br>
             <p style="text-align: center;">
               <a href="pt19"><b>微型標籤</b></a>
             <p>
          </div>
       </div>
     </div>

     <div class="row">
        <div class="col-md-4">
           <div class="page1_content">
              <figure><img src="/images/label10.png" alt="#" style="height: 220px;" /></figure>
              <br>
              <p style="text-align: center;">
               <a href="pt110"><b>陶瓷卡標簽</b></a>
              <p>
           </div>
        </div>

        
     </div>
    </div>
 </div>
 
 