<div id="about" class="page1"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>陶瓷卡標簽</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label10.png" alt="#" width="300" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>陶瓷卡電子標籤是專門為人員管理設計的一款標籤，此標籤通過採用抗人體幹擾的設計思路，完美的解決了普通白卡受人體幹擾性能下降而導致的讀寫器漏讀現象，該標籤可以緊貼人體而不受幹擾，在整個系統中可以有效的保證標籤性能一致以便系統運行有好的使用者體驗，可方便的用於學校、醫院、會場、工廠等環境的人員管理。
                    </b>  
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>