<div id="about" class="page1"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>HF/UHF RFID 標籤</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label1.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>•	UHF 860MHz – 960MHz：超高頻
                       <br>
                    •	RFID UHF標籤利用蝕刻或印刷在襯底上的偶極狀天線。 這些標籤的讀取範圍在3至8米之間變化。 金屬或潮濕環境需要特定的天線設計。
                    <br><br>
                    適用工藝：
                    <br>
                    •	CMYK顏色，pantone顏色，單面或雙面;
                    <br>
                    •	移印，在不規則表面列印圖片或文字;
                    <br>
                    •	序號或個性化序列號;
                    <br>
                    •	包含或不包含可讀字元的條形碼。
                    <br><br>
                    非接觸式晶片：
                    <br>
                    UHF晶片（860MHz-960MHz）：UCODE8，ALIEN H4，IMPINJ I等。
                    <br>
                    •	可配套應用系統如門禁, 物流溯源, 追縱, 人員管理, 資產管理等等
                    <br>
                    HF RFID被動標籤的應用
                    <br>
                    •	RFID HF標籤用於可追溯性和物流應用。
                    <br>
                    •	HF 13.56MHz：高頻率。
                    <br><br>
                    適用工藝：
                    <br>
                    •	CMYK顏色，pantone顏色，單面或雙面;
                    <br>
                    •	移印，在不規則表面列印圖片或文字;
                    <br>
                    •	序號或個性化序列號;
                    <br>
                    •	包含或不包含可讀字元的條形碼。
                    <br>
                    •	可配套應用系統如門禁, 物流溯源, 追縱, 人員管理, 資產管理等等
                    </b>
                   
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 