<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>HF/UHF卡</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label2.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>•	印刷 – 單面或雙面四色（CMYK）、Pantone 專色。
                    <br>
                    •	不同的印刷工藝: UV,金粉,燙金,覆膜,噴碼等個性化設計, 
                    <br>
                    •	編碼 – 序列號或個性化的編碼。
                    <br>
                    •	條碼 – EAN Code、128 Code、39 Code。
                    <br>
                    •	可配套應用系統如門禁
                    
                    </b>
                   
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>
 