<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>洗水RFID標籤</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label3.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>防水防熱 – 有效記錄資料
                    <br>
                    RFID 洗衣標籤主要用於洗衣行業，可追蹤、查閱衣物的洗滌情況，耐高溫、潮濕和腐蝕，無毒而且絕緣，抗壓縮性能好。
                    <br><br>
                    洗衣標籤的優點
                    <br>
                    •	防幹擾設計；
                    <br>
                    •	防水、防摩擦生熱，熨燙性能強；
                    <br>
                    •	近場識別標籤。
                    <br><br>
                    洗衣標籤的應用
                    <br>
                    •	電子洗衣標籤適合布匹印染、洗衣店、紡織品租賃、醫院後勤洗衣、酒店
                    <br>
                    •	以及化工原料等領域，也適用於其他不良環境，比如高溫、高濕、高勞動力密集型環境等。                    
                    </b>
                   
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>