<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>NFC/RFID手帶/匙扣</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label4.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>細小精緻 – 輕便就手
                    <br>
                    RFID 匙扣卡由 ABS 塑膠外殼封裝晶片和線圈，再填充環氧樹脂，通過超聲波焊接組合，形成各種形狀。匙扣卡封裝的晶片可以為低頻 125KHz和高頻 13.56MHz，廣泛應用於門禁考勤、身份識別、物流、產品標識、會員管理、積分以及消費系統等方面。
                    <br><br>
                    匙扣卡的優點：
                    <br>
                    •	外觀小巧玲瓏，堅固耐用，不易掉色；
                    <br>
                    •	產品防水、防震動以及防腐蝕；
                    <br>
                    •	多種顏色和形狀可供選擇；
                    <br>
                    •	按需求封裝低頻或者高頻晶片，也可以兩種晶片復合封裝。
                </b>                    
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>