<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>LED亮燈標籤</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label5.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>本電子標籤採用帶有特殊的i2C高頻ISO-15693協定晶片並結合LED電路設計，在大功率讀寫器的工作下，實現標籤近距離密集性讀取，讓選定好的電子標籤通過驅動LED發光，精准定位物品。
                   <br><br>
                   在傳統的RFID標籤基礎上增加了LED燈提醒功能，以便於在錯綜複雜的機房線纜的管理中，快速定位並找到指定線纜。支援列印、快速盤點、精確查找點亮，解決傳統線纜管理痛點。
                   <br><br>
                   應用: 珠寶管理, 檔案管理, 固定資產管理等等

                </b>                    
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>