<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>防撕易碎標籤</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label6.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>RFID易碎標籤採用特製易碎紙和防轉移膠水，標籤天線去除PET層，實現RFID易碎標籤粘貼後無法正常剝離，防轉移防撕的效果。其貼在物品上後，再揭起來天線就會自動斷裂，故而其起到防偽的作用，主要應用於名貴物品、煙草、名酒等防偽溯源領域。
                    <br><br>
                    RFID易碎標籤可有效防止加熱轉移;獨創的雙面天線線圈採用高精度鋁蝕刻，相對比印刷天線標籤、半印刷半鋁(銅)蝕刻天線標籤，保證了產品之間的一致性，提高了標籤的品質;標籤中鋁與鋁之間距離相對一致且不易斷裂，保證了標籤內相對一致的電阻率，使得標籤資訊傳遞、讀寫穩定而快速。
                    <br><br>
                    這也使得RFID易碎標籤在紫外線、高溫等惡劣環境下仍然能夠穩定工作;同時RFID易碎標籤耐彎折，不易損壞，保存時間更長久。結合目前流行的二維碼防偽印刷等技術實現多重防偽並用，真正實現消費者舉手可查的RFID防偽溯源。                    
                </b>                    
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>