<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>抗金屬標籤</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label7.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>RFID抗金屬標籤在原有的基礎上添加了一種抗金屬材料，這種材料可以防止標籤與金屬物體粘合出現失效的情況，這種材料的標籤被稱為rfid抗金屬標籤。 抗金屬材料是一種特殊的防磁性吸波材料封裝成的電子標籤，從技術上解決了電子標籤不能附著於金屬表面使用的難題。產品可防水、防酸、防堿、防碰撞，可在戶外使用。如： 耐用的阻燃劑層壓材料做成，可承受200℃的高溫(可放入油中)、可承受振動和機械衝擊，能夠抵抗化學危險品，如硫酸和鹽水
                   <br><br>
                    RFID抗金屬標籤標籤可以在高溫環境中工作，性能穩定，非常適用於RFID金屬標籤的IT資產，例如電腦主機、交換機、伺服器主機殼、鋁條及貨架識別。
                    <br>
                    廣泛的使用場景如下：
                    <br>
                    1.倉儲資產管理；
                    <br>
                    2. 室內設備管理；
                    <br>
                    3. IT資產管理；
                    <br>
                    4. 金屬板材管理；
                    <br>
                    5.醫療器械管理
                    
                </b>                    
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>