<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>柔性抗金屬標籤</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label8.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>柔性抗金屬標籤(可列印)具有一定的柔性，可彎曲，用於金屬表面具有較好的抗金屬性、性能優良、方向性好、讀取距離遠等優點，適合貼在金屬氣缸等曲面資產，可應用於RFID資產管理、氣缸追蹤、交通控制、物流管理、危險品管理等方面。
                   <br><br>
                   柔性抗金屬RFID標籤適用於任何企業資產、柔性抗金屬RFID標籤，由耐用的阻燃劑4(FR-4)層壓材料做成，可承受200℃的高溫(可放入油中)、高濕度和高達15-bar的壓力。此外，這款標籤還可承受振動和機械衝擊，能夠抵抗化學危險品，如硫酸和鹽水。
                </b>                    
                <p>
             </div>
          </div>
       </div>
    </div>
 </div>