<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>微型標籤</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/label9.png" alt="#" width="500" /></figure>
                <br>
                <p >
                   <b>一款工業級, 超小型的UHF特種標簽, 具有耐高溫, 防腐蝕, IP67防水, 抗金屬和液體等卓壞特性。
                </b>                    
                <p>
                    <figure><img src="/images/label9b.png" alt="#" width="500" /></figure>
             </div>
          </div>
       </div>
    </div>
 </div>