<div id="about" class="page1">
    <div class="container" >
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID硬體/智慧設備</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4">
             <div class="page1_content">
                <figure><img src="/images/hard1.png" alt="#" style="height: 220px;"/></figure>
                <br>
                <p style="text-align: center;">
                   <a href="pt21"><b>RFID手持機</b></a>
                <p>
             </div>
          </div>

          <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard2.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="pt22"><b>RFID 工業平板</b></a>
               <p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="page1_content">
               <figure><img src="/images/hard3.png" alt="#" style="height: 220px;" /></figure>
               <br>
               <p style="text-align: center;">
                  <a href="pt23"><b>固定式讀寫器</b></a>
               <p>
            </div>
         </div>
       </div>

       <div class="row">
        <div class="col-md-4">
           <div class="page1_content">
              <figure><img src="/images/hard4.png" alt="#" style="height: 220px;"/></figure>
              <br>
              <p style="text-align: center;">
               <a href="pt24"><b>一體式讀寫器</b></a>
              <p>
           </div>
        </div>

        <div class="col-md-4">
          <div class="page1_content">
             <figure><img src="/images/hard5.png" alt="#" style="height: 220px;" /></figure>
             <br>
             <p style="text-align: center;">
               <a href="pt25"><b>RFID工具車/工具箱</b></a>
             <p>
          </div>
       </div>

       <div class="col-md-4">
          <div class="page1_content">
             <figure><img src="/images/hard6.png" alt="#" style="height: 220px;"/></figure>
             <br>
             <p style="text-align: center;">
               <a href="pt26"><b>RFID智能櫃</b></a>
             <p>
          </div>
       </div>
     </div>

     <div class="row">
        <div class="col-md-4">
           <div class="page1_content">
              <figure><img src="/images/hard7.png" alt="#" style="height: 220px;" /></figure>
              <br>
              <p style="text-align: center;">
               <a href="pt27"><b>RFID通道</b></a>
              <p>
           </div>
        </div>       
     </div>
    </div>
 </div>
 
 