<div id="about"></div>
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="titlepage">
            <h2>RFID手持機</h2>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <div class="page1_content">
            <figure><img src="/images/hard1.png" alt="#" width="500" /></figure>
            <br>
            <p style="text-align: start;margin-left: 10%;">
               <b>最新款掌上型讀寫器產品。它採用Impinj R2000晶片，高達15米以上的讀取距離；配置為Android 8.1 OS, MTK MT6765
                  八核2.3GHz；工業IP65堅固耐用，1.5米跌落至混凝土地面衝擊無故障，適用於各種惡劣環境。主要應用在倉儲物流、資產管理、圖書管理、新零售等領域。
                  <br><br>
                  型號: JW-820
                  <br>
                  高配置：Android 8.1 OS, MTK MT6765 八核2.3GHz
                  <br>
                  人性化：手柄符合人體工程學設計，重量輕
                  <br>
                  高防護：工業IP65堅固耐用，1.5米跌落至混凝土地面衝擊無故障，適用於各種惡劣環境

               </b>
            <p>

         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <div class="page1_content">
            <figure><img src="/images/hard1a.jpeg" alt="#" width="800" /></figure>
            <br>

            <h2 style="text-align: start;margin-left: 10%;margin-bottom: -3%;">RFD8500 手持式 RFID/1D/2D SLED</h2>
            <p style="text-align: start;margin-left: 10%;">
               <b>
                  <br><br>
                  將幾乎任何移動數據終端變成手持式 RFID 讀取器
                  <br><br>
                  添加高性能下一代 RFID 和一維/二維條碼掃描到當前和未來的移動設備 — 簡單、容易且節約成本。只需將支持藍牙功能的 RFD8500 與兼容的 Zebra 或第三方移動設備匹配即可使用。您可以將移動設備連接到 RFD8500 Sled，形成完整的整體解決方案，或者員工也可以收起移動設備，以獨立模式使用 RFD8500。

               </b>
            <p>

         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         <div class="page1_content">
            <figure><img src="/images/hard1b.jpeg" alt="#" width="800" /></figure>
            <br>

            <h2 style="text-align: start;margin-left: 10%;margin-bottom: -3%;">RFD2000 手持式 UHF RFID SLED</h2>
            <p style="text-align: start;margin-left: 10%;">
               <b>
                  <br><br>
                  適用於 ZEBRA TC20 移動數據終端的高性能 UHF RFID
                  <br><br>
                  如果您已購入 Zebra TC20 移動數據終端，現在，您只需將 TC20 套入 RFD2000 Sled，即可為其添加強大的 UHF RFID 功能。專為 TC20 設計的 RFD2000 可提供與專用設備完全相同的強大 RFID 性能，您無需犧牲性能，即可獲得根據需要添加和去除 RFID 的靈活性。這種絕佳的組合可為您帶來全方位的零售解決方案，令庫存管理、消費者互動和輔助銷售變得輕而易舉。

               </b>
            <p>

         </div>
      </div>
   </div>
</div>
</div>