<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID手持機</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/hard1.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>最新款掌上型讀寫器產品。它採用Impinj R2000晶片，高達15米以上的讀取距離；配置為Android 8.1 OS, MTK MT6765 八核2.3GHz；工業IP65堅固耐用，1.5米跌落至混凝土地面衝擊無故障，適用於各種惡劣環境。主要應用在倉儲物流、資產管理、圖書管理、新零售等領域。
                   <br><br>
                   型號: JW-820
                   <br>
                   高配置：Android 8.1 OS, MTK MT6765 八核2.3GHz
                   <br>
                   人性化：手柄符合人體工程學設計，重量輕  
                   <br>
                   高防護：工業IP65堅固耐用，1.5米跌落至混凝土地面衝擊無故障，適用於各種惡劣環境

                </b>                    
                <p>

             </div>
          </div>
       </div>
    </div>
 </div>