<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID工業平板</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/hard2.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>手持平板終端產品。該產品支援該產品採用八核1.5G主頻支援Android作業系統、4G全網通、條碼掃描、電力紅外、鐳射紅外、高頻、超高頻、PSAM卡、電力安全單元、GPS\北斗、藍牙、WIFI、前後雙攝像頭等功能。根據人體工程學設計，外觀小巧精緻，防護等級高，操作簡單，便於攜帶，靈活性高，適合在各種環境條件下工作。主要應用在電力抄表運維、物流、資產管理、倉儲管理、圖書管理、金融押運管理、生產管理、門票管理等領域。
                   <br><br>
                   八核1.5G主頻
                   <br>
                   Android 5.1系統
                   <br>
                   支援RAM 3GB，ROM 32GB大容量儲存
                   <br>
                   IP67高防護級別
                   <br>
                   8寸彩色電容屏，陽光下可見
                   <br>
                   4G全網通，支持GPS/北斗雙模
                   <br>
                   前置800萬，後置1300萬雙攝像頭
                   <br>

                </b>                    
                <p>

             </div>
          </div>
       </div>
    </div>
 </div>