<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>固定式讀寫器</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/hard3.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>物聯網智能RFID讀寫器
                    <br><br>
                    採用Impinj INDY R2000高性能RFID晶片，運行Android 9.0作業系統。4口/8口可選。2GB RAM和16G ROM容量，可支援40000個標籤的離線工作。具有WiFi、藍牙、4G等無線功能，有USB、RJ45、RS232和I/O通訊介面，POE可選。此外，它還可以通過HDMI介面與顯示器連接。
                    <br><br>
                    採用Impinj R2000晶片平臺
                    <br>
                    基於Android作業系統的開放開發環境
                    <br>
                    支援MQTT為連接雲伺服器提供即時、可靠的消息傳遞服務
                    <br>
                    支援HTTP POST通信，可直接將標籤資料發送到web URL
                    <br>
                    支援將標籤資料直接發送到指定的資料庫
                    <br>
                    豐富的通訊介面：RJ45、RS485、Wiegand、USB、藍牙、WiFi、4G
                    <br>
                    工業、安裝方便的I/O埠連接器
                    <br>
                    支援天線埠檢測、線上更新、RSSI和標籤資料過濾
                    
                </b>                    
                <p>

             </div>
          </div>
       </div>
    </div>
 </div>