<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>一體式讀寫器</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/hard4.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>集成天線和讀寫器為一體的超高頻 RFID 讀寫設備，支持 ISO18000-6C兩種協議。具有小巧輕便、多介面、識別距離遠、準確度高、速度快等特點。
                    <br><br>
                    採用Impinj R2000晶片射頻平臺，高性能
                    <br><br>
                    獨立開模、IP65防護，適應全天候室外工作
                    <br>
                    處理器ARM9平臺，主頻400MHZ
                    <br>
                    支援ISO18000-6B/C雙協定
                    <br>
                    內置Linux 2.6作業系統，可定制可擴展性好，方便客戶定制化開發
                    <br>
                    RJ-45/RS-232/RS-485/韋根口多種通信介面支援
                    <br>
                    內置9dBi圓極化天線
                    <br>
                    可外接一個天線，實現一拖二設備架設
                    
                    
                </b>                    
                <p>

             </div>
          </div>
       </div>
    </div>
 </div>