<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID工具車/工具箱</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/hard5.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>RFID智慧工具車是RFID智慧工具管理系統方案之一，該工具車利用RFID技術，通過軟體使得存儲櫃自動管理櫃體抽屜內存放的帶有RFID標籤的工具。每當工具從櫃內取出時，系統會即時記錄這一操作。會立刻判斷細節如：什麼人，主要負責的崗位，在什麼時間取出了什麼工具，又在什麼時間歸還。系統還可設置操作許可權，並且能夠在某一工具沒有在一定時間內歸還時自動發出警告。實現了企業對工具的資訊化管理及航空業FOD的精細化控制。
                    <br><br>
                    行業應用：主要應用於電力、鐵路、消防、機械等行業，實現工具自動快捷的借用、歸還、定位、查找、維護等功能。
                    <br><br>
                    產品特性
                    <br>
                    全自動管理：全自動的工具進出記錄管理，省去人工掃描和錄入工作的繁瑣和失誤可能。快！准！精確！並且系統可生成各種報告。；
                    <br>
                    一鍵盤點功能：3秒實現日檢及月檢工作；
                    <br>
                    資料獲取，科學分析：工具參數資料記錄，特定工具的標定週期提醒 ；
                    <br>
                    安全保障，追責到人：當工具未及時歸還時，工具箱將會發出警告，快速鎖定相關人員責任；
                    <br>
                    失落工具查找：當發生工具遺落在作業現場時，可通過RFID手持終端進一步查找失落工具；
                    <br>
                    方便智慧：自帶充電電池，可便攜移動用作線邊工具櫃。
                    <br>
                    RFID智慧工具箱是RFID工具管理系統方案之一，該工具箱利用RFID技術，通過軟體使得存儲櫃自動管理櫃體抽屜內存放的帶有RFID標籤的工具。實現了對工具的科學自動管理，可以大幅提高工具管理的準確性和高效性，實現了企業對工具的資訊化管理及航空業FOD的精細化控制。主要操作模式包括工具箱初始化、工具借出、工具歸還、日/月檢查、運輸狀態鎖定等。
                </b>                    
                <p>

             </div>
          </div>
       </div>
    </div>
 </div>