<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID智能櫃</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/hard6.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>RFID智慧櫃系統：將管理好的物品放入櫃內進行集中管理，可支援定期快速清點、添加物品或借出記錄、防盜等功能。同時，可根據具體專案要求，增加管理人授權、指紋解鎖等許可權。幫助用戶輕鬆管理重要資產。它常用於電子電動工具、警務工具、銀行抵押房地產契據及相關高價值檔的管理、檔案管理等，大大提高了庫存效率，防止丟失，並使查找變得方便。是現代企業、政府、公共管理單位理想的資產管理方式之一。
                    <br><br>
                    特徵
                    <br>
                    獨特的現代設計，高品質的金屬材質貨架。
                    <br>
                    安全可靠：櫃體採用1.0mm厚鋼板製作。
                    <br>
                    表面酸洗磷化，防銹、防潮、防靜電，經久耐用，安全環保。
                    <br>
                    24埠讀卡器，採用Impinj R2000晶片，遠端超多標籤讀取性能。
                    <br>
                    全集成多功能。
                    <br>
                    適用於檔案庫存、檔跟蹤、圖書/檔案、設備租賃管理等；
                    <br>
                    環保噴塗，零甲醛：不褪色，不油漆，不生銹，安全健康                    
                </b>                    
                <p>

             </div>
          </div>
       </div>
    </div>
 </div>