<div id="about"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>RFID通道</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="page1_content">
                <figure><img src="/images/hard7.png" alt="#" width="500" /></figure>
                <br>
                <p style="text-align: start;margin-left: 10%;">
                   <b>高性能門禁通道識別系統，工作頻段包含920MHz～925MHz、902MHz～928MHz、865MHz～868MHz、840MHz～845MHz。它採用了Impinj R2000晶片；內置紅外感應器，可以實現觸發讀卡及判斷進出；天線採用水平面窄波束設計，門禁覆蓋區域精准無盲點；內置報警燈和蜂鳴器，報警靈敏，安全可靠；可選觸摸LED顯示幕、工控一體機，通過HDMI介面連接到外部電腦主機，顯示應用APP。
                    
                </b>                    
                <p>

             </div>
          </div>
       </div>
    </div>
 </div>